// Place all the styles related to the repairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Lato', sans-serif;

}

h1, h2, h3, h4, h5, a {
  font-weight: 900;
}


i {
  color: #fff;
  padding: 5px;
  margin-right: 20px;
}

.nav a {
  font-size: 14px;
}

.field_border {
  display: inline-block;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;

    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    
}

.navbar-brand {
  padding-left: 24px;
}