<div>
  <h2>Phone</h2>
  <%= simple_form_for @phone_model, :remote => true do |phone| %>
    <%= phone.input :name %>
    <%= phone.error :name %>
    <%= phone.button :submit, class: 'btn btn-success'%>
  <% end %>
</div>
<br>
<br>